html
	head
		title Hello
	body
		.myDiv
		p hahahhahahahaha
		a(href='http://www.baidu.com', target='_blank') link
		form
			select
				option(value='a') a
				option(value='b', selected) b
			textarea
				| aaaaaaaaaaaaaaa
				| bbbbbbbbbbbbbbb
				| ccccccccccccccc
		




