h1 New User

form(method="POST" action="/users/addUser")
	P 
		label(for="name") Name

		input#name(name="name")
	P 
		label(for="password") Password

		input#name(name="password")
	P 
		label(for="profession") Profession

		input#name(name="profession")
	P
		input(type="submit", value="Create")